.stage {
  position: relative;
  width: 100vw;
  height: 50vw;
  background: #fff000;
  overflow: hidden;
}

@keyframes moving {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(95vw);
  }
}

.ilbuni {
  position: absolute;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  animation: moving infinite alternate;
  cursor: pointer;
}

.ilbuni:nth-of-type(1) {
  left: 5%;
  bottom: 3%;
  background-image: url(../images/ilbuni_0.png);
  animation-duration: 4s;
}

.ilbuni:nth-of-type(2) {
  left: 15%;
  bottom: 5%;
  background-image: url(../images/ilbuni_1.png);
  animation-duration: 1s;
}

.ilbuni:nth-of-type(3) {
  left: 40%;
  bottom: 7%;
  background-image: url(../images/ilbuni_2.png);
  animation-duration: 3s;
}
